<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViewColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB96598E1BBB78A5003988B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB9659A21BBB78A6003988B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB9659AD1BBB78A6003988B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
